/* 把我们所有标签的内外边距清零 */
* {
	margin: 0;
	padding: 0
}

/* em 和 i 斜体的文字都不倾斜 */
em,i {
	font-style: normal
}

/* 去掉每个li前面的小圆点 */
li {
	list-style: none
}


img {
	border: 0;
	/* 为了照顾低版本浏览器,如果 图片的外面包含了链接 会出现边框的问题 */
	vertical-align: middle
		/* 解决图片底侧出现空白缝隙的问题 */
}


button {
	cursor: pointer
		/* 当我们鼠标经过button按钮时,鼠标变成小手的样子 */
}

a {
	color: #666;
	text-decoration: none
}

a:hover {
	color: #c81623
}

button,input {
	font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
	/* 抗锯齿性,避免文字被放大后会产生锯齿 */
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	/* 12px/1.5 表示所有字体的大小为12px,1.5倍的行高 */
	/* "\5B8B\4F53" 代表的是宋体，用这种方式，浏览器的兼容性会比较好。 把中文字体的名称用相应的Unicode编码来代替，这样就可以有效地避免浏览器解释CSS代码时出现乱码的情况*/
	font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
	/* margin-left: 15px;
	margin-right: 15px; */
}

.hide,.none {
	display: none
}

/* 清除浮动 */
.clearfix:after {
	visibility: hidden;
	clear: both;
	display: block;
	content: ".";
	height: 0
}

.clearfix {
	*zoom: 1
}

.fontSize12{
	font-size: 12px;
}

.fontSize14{
	font-size: 14px;
}

.fontSize16{
	font-size: 16px;
}

.fontSize18{
	font-size: 18px;
}

.fontSize30{
	font-size: 30px;
}

.textAlignCenter{
	text-align: center;
}

.blackColor{
	color: #000000;
}

.blackColor1{
	color: #282828;
}

.hasColor{
	color: #c8c8c8;
}

.hasColor1{
	color: #9F9E9E;
}

.hasColor2{
	color: #6C7B83;
}

.hasColor3{
	color: #6C7B84;
}

.blueColor{
	color: #1a559a;
}

.blueColor1{
	color: #135097;
}

.redColor1{
	color: #9b2e25;
}

.whiteColor{
	color: #FFFFFF;
}

.yellowColor1{
	color: #9A7A19;
}

.greenColor{
	color: #2f9b38;
}

.weight700{
	font-weight: 700;
}

.flexShrink0{
	flex-shrink: 0
}

.padding10{
	padding: 10px;
}

.padding10-0{
	padding: 10px 0px;
}

.padding15{
	padding: 15px;
}

.padding5-0{
	padding: 5px 0px;
}

.marginTop10{
	margin-top: 10px
}

.marginLeft15{
	margin-left: 15px
}

.marginBottom10{
	margin-bottom: 10px
}

.textHide1{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.textHide3{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

.empty{
	width: 100%;
	height: 60px;
}

/**
 * 适配 iphone 底部安全区（指示条，配合index.html <meta name="viewport" ... />使用
 */
@supports (bottom: env(safe-area-inset-bottom)){
    #app {
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
}